@import url('https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@100;300;400;500&display=swap');

// Media Queries Break Points
$phone-width: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;


// Override default variables before the import
$theme-colors: (
  "primary": #FFC107,
  "secondary": #285739
);

$primary-color: #FFC107;
$secondary-color: #285739;
$primary-pyramyd: #B12D2B;

a {
	color: $primary-color !important;
	font-size: 22px !important;
	text-decoration: none !important;
	&:hover {
		text-decoration: underline !important;
	}
}

body {
	font-family:  'Playfair Display', serif !important;
	margin: 0 !important;
	padding: 0 !important;
	background: #000 !important;
}

.align-center {
	text-align: center !important;
	.type {
		margin-top: 20px;
		text-align: center !important;
	}
}

.heading {
	font-size: 100px;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	color: $primary-color;
	text-shadow: 5px 5px 5px $secondary-color, 
               5px 5px 5px $secondary-color;
	img {
		margin-right: 10px;
		margin-top: -5px;
	}
	@media screen and (max-width: 957px) {
		font-size: 80px;
	}
}

.header {
	position: absolute;
	z-index: 1000;
	background: #000;
	border: #fff 5px solid;
	border-top: none;
	width: calc(100% - 24px);
	display: flex;
	justify-content: space-between;
	padding: 12px 24px;
	margin: 0 auto;
	@media screen and (max-width: 957px) {
		flex-direction: column;
		position: relative;
		justify-content: center;
		align-content: center;
		align-items: center;
		width: 100%;
	}
	.logo {
		font-size: 60px;
		line-height: 1;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		color: #fff;
		margin-bottom: 10px;
		img {
			margin-right: 10px;
			margin-top: -5px;
		}
		@media screen and (max-width: 957px) {
			font-size: 55px;
		}
	}
	.header-right {
		display: flex;
		align-items: center;
		align-content: center;
		@media screen and (max-width: 957px) {
			flex-direction: column;
		}
		.social-link {
			display: inline-block;
			padding: 0 12px 12px 12px;
		}
	}
	.nav {
		display: flex;
		align-items: center;
		align-content: center;
		@media screen and (max-width: 957px) {
			justify-content: center;
		}
		li {
			padding: 12px;
			a {
				color: #fff !important;
				font-size: 32px !important;
			}
		}
	}
}

.intro-section {
	padding: 200px 50px 100px;
	background: #000;
	background-image: url(/deumos_bg.png);
	background-position: left center;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	margin-bottom: 50px;
	@media screen and (max-width: 957px) {
		padding:0;
		background-image: none;
		justify-content: center;
		flex-direction: column;
	}
	.deumos-background {
		display: block;
		width: 100%;
		@media screen and (min-width: 958px) {
			display: none;
		}
	}
	.heading {
		font-size: 70px;
	}
	.demon-wrapper {
		img {
			position: relative;
			left: -100px;
			top: -50px;
		}
	}
	.black-card {
		position: relative;
		left: 50%;
		width: 45%;
		background: rgba(0,0,0, 0.8);
		padding: 24px;
		border: 5px solid #fff;
		border-radius: 10px;
		color: #fff;
		font-size: 35px;
		line-height: 36px;
		text-align: left;
		min-height: 700px;
		@media screen and (max-width: 957px) {
			left: 0;
			width: 95%;
			margin: 0 auto;
		}
		p {
			margin: 24px 12px;
		}
		.heading {
			@media screen and (max-width: 957px) {
				text-align: center;
				font-size: 60px;
			}
		}
	}
}

.demon-section {
	padding: 100px 0 100px 100px;
	background: #000;
	background-image: url(/lab_bg.png);
	background-position: left center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	.heading {
		font-size: 70px;
	}
	.demon-wrapper {
		img {
			position: relative;
			left: -50px;
			top: -50px;
		}
	}
	.black-card {
		background: rgba(0,0,0, 0.8);
		padding: 24px;
		border: 5px solid #fff;
		border-radius: 10px;
		color: #fff;
		font-size: 26px;
		text-align: center;
		min-height: 700px;
		width: 45vw;
		p {
			margin: 24px 12px;
		}
	}
}

.roadmap-section {
	padding: 100px 50px;
	.row {
		max-width: 75%;
		margin: 0 auto;
		align-content: center;
		align-items: center;
	}
	.date {
		text-align: right;
		font-size: 80px;
		color: $primary-color;
	}
	.detail {
		font-size: 40px;
		line-height: 1;
		margin-left: 20px;
		color: $primary-color;
	}
}

.tiers-section {
	padding: 100px 50px;
	background: #000;
	background-image: url(/dungeon_bg.jpg);
	background-position: center center;
	background-size: 250%;
	background-repeat: no-repeat;
	min-height: 100vh;
	@media screen and (max-width: 957px) {
		padding: 50px 0;
	}
	/*border-bottom: 5px solid $secondary-color;*/
	.heading {
		@media screen and (max-width: 957px) {
			text-align: center;
		}
	}
	.row {
		max-width: 85%;
		margin: 0 auto 50px;
		align-content: center;
		align-items: center;
		@media screen and (max-width: 957px) {
			max-width: 100%;
		}

	}
	.type {
		font-size: 70px;
		line-height: 50px;
		margin-bottom: 20px;
		color: $primary-color;
		text-shadow: 5px 5px 5px $secondary-color, 
               5px 5px 5px $secondary-color;
        @media screen and (max-width: 957px) {
			text-align: center;
		}
	}
	.detail {
		font-size: 30px;
		line-height: 1;
		margin-left: 20px;
		color: #fff;
	}
	.divider {
		width: 100%;
		height: 3px;
		background-color: $secondary-color;

	}
}

.faq-section {
	padding: 100px 50px;
	@media screen and (max-width: 957px) {
		padding: 50px 0;
	}
	.row {
		max-width: 75%;
		margin: 0 auto;
		align-content: center;
		align-items: center;
		@media screen and (max-width: 957px) {
			max-width: 90%;
		}
	}
	.faq-wrapper {
		margin-top: 100px;
		@media screen and (max-width: 957px) {
			margin-top: 50px;
		}
		.card {
			background: transparent !important;
			margin-bottom: 0;
			border: none;
			min-height: auto !important;
			@media screen and (max-width: 957px) {
				margin-bottom: 25px;
			}
		}
		.card-header {
			padding: 0;
			background: transparent;
			.faq-header {
				text-align: left;
				display: inline-block;
				width: 100% !important;
				background: $primary-color;
				font-size: 32px;
				color: #000;
				text-decoration: none;
				text-transform: uppercase;
			}
		}

		.faq-body {
			.card-body {
				border: none !important;
				color: #fff !important;
				font-size: 32px;
			}
		}
	}
}

.mint-wrapper {
	min-height: 100vh;
	background: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	&.pyramyd {
		background-image: url(/pyramyd_bg.png);
		background-position: center;
		background-size: 40%;
		background-repeat: repeat;
	}
	.form-wrapper {
		background-color: #000;
		padding: 50px 30px;
		text-align: center;
		color: #fff;
		width: 40%;
		margin: 0 auto;
		border-radius: 3px;
		min-height: 700px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		@media screen and (max-width: 756px) {
		    width: 90%;
		}
		.divider {
			display: block;
			height: 1px;
			width: 80%;
			margin: 20px auto;
			background-color: $primary-color;
		}
		h1 {
			font-size: 50px;
			@media screen and (max-width: 756px) {
			    font-size: 40px;
			}
		}
		p {
			font-size: 26px;
			line-height: 1;
			width: 80%;
			margin: 20px auto;
			@media screen and (max-width: 756px) {
			    width: 90%;
			}
		}
		.supply {
			font-size: 20px;
			line-height: 1;
			margin: 20px auto;
		}
		.mint-price {
			font-size: 30px;
			line-height: 30px;
			svg {
				font-size: 26px;
				position: relative;
				top:-7px;
			}
		}
		.mint-input {
			margin: 25px auto;
			max-width: 200px !important;
			.btn-lg {
				svg {
					font-size: 24px;
				}
				padding: 20px 40px !important;
				min-width: 50px !important;
			}
			.btn-left {
				border-top-right-radius: 0 !important;
				border-bottom-right-radius: 0 !important;

			}
			.btn-right {
				border-top-left-radius: 0 !important;
				border-bottom-left-radius: 0 !important;

			}
			.form-control {
				text-align: center;
			}
		}
		.btn-lg {
			min-width: 200px;
		}
	}
}

.btn {
	border-radius: 2px !important;
}

/*.btn-lg {
	min-width: 200px !important;
	font-size: 24px !important;
}*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.date-list {
	margin: 30px auto;
	.item {
		display: flex;
		justify-content:flex-start;
		margin-bottom: 15px;
		align-items: center;
		.date {
			font-size: 45px;
			line-height: 40px;
			color: $primary-color;
			margin-right: 20px;
			text-shadow: 5px 5px 5px $secondary-color, 
	               5px 5px 5px $secondary-color;
		}
		.details {
			text-align: left;
			font-size: 30px;
			line-height: 1;
			span {
				display: block;
				font-size: 25px;
			}
		}
	}
}

.heros-section {
	padding: 100px 50px 75px;
	background: #000;
	@media screen and (max-width: 957px) {
		padding: 50px 0;
	}
	.heading {
		margin-bottom: 70px;
		 @media screen and (max-width: 957px) {
			margin-bottom: 40px;
		}
	}
	.row {
		/*display: flex;
		flex-direction: column;*/
		align-items: center;
		align-content: center;
	}

	img {
		border: 10px solid #2e2e2e;
		margin-bottom: 20px !important;
		 @media screen and (max-width: 957px) {
			width: 50% !important;
			margin: 0 auto 20px;
		}
	}

	.hero-type {
		font-size: 50px;
		line-height: 50px;
		margin-bottom: 10px;
		color: $primary-color;
		text-shadow: 5px 5px 5px $secondary-color, 
               5px 5px 5px $secondary-color;
        @media screen and (max-width: 957px) {
			text-align: center;
		}
	}

	p {
		font-size: 28px;
		line-height: 1;
		color: #fff;
		padding-bottom: 20px;
		 @media screen and (max-width: 957px) {
			text-align: center;
		}
	}
}

.team-section {
	padding: 50px 50px 50px;
	background: #000;
	@media screen and (max-width: 957px) {
		padding: 50px 0;
	}
	.row {
		max-width: 85%;
		margin: 0 auto 50px;
		align-content: center;
		align-items: center;

	}
	.heading {
		margin-bottom: 50px;
	}
	.team-member {
		text-align: center;
		color: #fff;
		.profile {
			margin-top: 20px;
			border: 14px solid #1b1b1b;
			img {
				border: 12px solid #2e2e2e;
			}
		}
		.name {
			margin-top: 20px;
			font-size: 40px;
			line-height: 1;
		}
		.title {
			font-size: 30px;
			line-height: 1;
		}
	}
}

.btn {
	border-radius: 2px !important;
}

/*.btn-lg {
	min-width: 200px !important;
	font-size: 24px !important;
}*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.logo {
	font-size: 60px;
	line-height: 1;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	color: #fff;
	margin-bottom: 20px;
	img {
		margin-right: 10px;
		margin-top: -5px;
	}
}

h5 {
	font-size: 32px !important;
	@media (max-width: 767px) {
		text-align: center;
	}
}

.align-right {
	text-align: right;
}

.app-wrapper {
	background: #000;
	color: #fff;
	min-height: 100vh;
	/*padding-bottom: 100px;*/
}

.main-wrapper {
	padding: 0 ;
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding-top: 24px !important;
	@media (max-width: 767px) {
		justify-content: center !important;
	}
	.navbar-left {
		display: flex;
		justify-content: flex-start;
		flex: 1;	
		.navbar-nav {
			margin-left: 20px;
			list-style: none;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			align-content: center;
			flex: 1;
			.nav-item {
				display: inline-block;
				a {
					font-size: 26px;
					display: inline-block;
					padding: 0 10px;
					margin-right: 10px;
					text-decoration: none;
					color: rgba(255,255,255,.5);
					&:hover {
						text-decoration: none;
						color: #fff;
					}
				}
				&.active {
					a {
						color: #fff !important;
					}
				}
			}
		}
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}
	.btn-outline-light {
		color: #fff;
		font-size: 24px;
		line-height: 36px !important;
		padding-top: 10px;
		border-color: #fff;
		img {
			position: relative;
			top: -5px;
		}
		&:hover {
			color: #fff !important;
		}
	}
	
}

.card {
	background-color: #494d4c !important;
	padding: 24px;
	margin: 25px 0;
	min-height: 200px;
	border-radius: 10px !important;
	&.staking {
		display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    align-items: center;
	}
}

.gradient-card {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: rgb(108,114,116);
	background: radial-gradient(circle, rgba(108,114,116,1) 0%, rgba(73,77,76,1) 100%);
	border-radius: 10px;
    padding: 40px;
    margin-bottom: 50px;
}

.logo-icon {
	background: #151515;
	width: 150px;
	height: 150px;
	text-align: center;
	border: 2px solid #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 100px;
	}
}

.message {
	margin-left: 25px;
	p {
		color: #fff;
	}
}

.card-message {
	h3 {
		font-size: 14px;
		font-weight: bold;
		span {
			font-size: 24px;
		}
	}
	p {
		margin-bottom: 0;
		color: #858585;
		font-size: 14px;
	}
}

.btn-round {
	width: 45px !important;
	height: 45px !important;
	border-radius: 50% !important;
	color: #fff !important;
	text-align: center;
}

.current-lockup-card {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 180px;
	/*background: linear-gradient(104.35deg,#e3f2ff 0,#f8f8f8 30.73%,#ffdce2 72.4%,#ffdec0 100%);*/
    /*background: rgba(255,222,192,1);*/
	/*background: linear-gradient(0deg, rgba(255,220,226,1) 0%, rgba(255,222,192,1) 100%);*/
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 14px 0px;
    width: 100%;
    margin: 25px 0;
    /*background-color: rgb(255,222,192);*/
    background: linear-gradient(180deg, #494d4c 50%, #6c7274 50%);
    color: white;
}
.current-lockup-progress {
	width: 150px;
	height: 150px;
	position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: #494d4c;
    /*border-color: rgb(255,222,192) rgb(255,222,192) rgb(255,222,192) rgb(255,222,192);*/
    background-color: #494d4c;
    border-radius: 50%;
    left: 20px;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    span { 
		border-width: 15px;
		border-style: solid;
	    border-color: $primary-color;
		background-color: #494d4c;
		width: 125px;
		height: 125px;
		display: inline-block;
		border-radius: 50%;
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
}


.current-lockup-stats {
	margin-left: 200px;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: space-between;
	h3 {
		color: #fff !important;
	}
	h5 {
		color: #fff !important;
	}
	span {
		font-size: 14px;
		display: inline-block;
		margin-right: 5px;
	}
	&>div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

.flex-column {
	@media (max-width: 767px) {
		justify-content: center !important;
		align-items: center;
		margin-bottom: 25px !important;
		.nav-item {
			min-width: 200px;
			text-align: center;
		}
	}
}

.nft-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	.nft-card {
		margin: 12px;
		border: 1px solid rgba(255,255,255, 0.15);
		border-radius: 10px;
		margin-bottom: 20px;
		position: relative;
		@media (max-width: 767px) {
			width: 46%;
			margin: 6px;
		}
		.nft-selected {
			position: absolute;
			top: -15px;
			left: -13px;
			color: $primary-color;
			font-size: 26px;
			background: #151515;
			border-radius: 50%;
		}
		.nft-details {
			display: flex;
			justify-content: space-between;
			margin: 0 20px 20px;
			.nft-number {
				span {
					display: block;
					text-transform: uppercase;
					font-size: 20px;
					color: rgba(255,255,255, 0.25);
					@media (max-width: 767px) {
						font-size: 16px;
					}
				}
				font-size: 40px;
				line-height: 1;
				@media (max-width: 767px) {
					font-size: 30px;
				}
			}
			.nft-rarity {
				text-align: right;
				span {
					display: block;
					text-transform: uppercase;
					font-size: 14px;
					color: rgba(255,255,255, 0.25);
				}
				color: $primary-color;
				font-size: 20px;
			}

		}
		.nft-menu {
			text-align: right;
			margin-top: 10px;
			margin-right: 20px;
			position: relative;
			z-index: 10000;
			.btn-outline-light {
				color: #fff;
				border: none !important;
				font-size: 24px;
				padding: 0 !important;
				line-height: 24px !important;
			}
			.dropdown-menu {
				background: #151515;
			}
			.dropdown-toggle {
				&::after {
					display: none !important;
				}
			}
			.dropdown-item {
				font-size: 22px !important;
				color: #fff !important;
				&:hover {
					background: #151515 !important;
					text-decoration: none !important;
					color: $primary-color !important;
				}
			}
		}
		&:hover {
			box-shadow:  0 0 15px rgb(255 255 255 / 77%), 0 0 10px transparent;
			transition: all 0.1s ease 0s;
		}
		&.selected {
			box-shadow:  0 0 10px rgb(152 23 9 / 77%), 0 0 10px transparent;
			border-color: $primary-color;
			transition: all 0.1s ease 0s;
		}
		&.pair {
			display: flex;
			@media (max-width: 767px) {
				width: 100%;
			}
		}
		&.locked {
			position: relative;
			.lockedup {
				position: absolute;
				z-index: 1000;
				top: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.65);
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 10px;
				img {
					opacity: 0.8;
				}
			}
		}
		
		/*img {
			margin: 20px;
			@media (max-width: 767px) {
				width: 80%;
				margin: 0 auto;
			}
		}
*/
		.nft-img {
			position: relative;
			width: 100%;
			margin: 20px;
			@media (max-width: 767px) {
				width: 80%;
				margin: 20px auto;
				img {
					width: 100%;
				}
			}
		}
		
		
	}

}

.portfolio-wrapper {
	margin-top: 50px;
	@media (max-width: 767px) {
		margin-top: 25px;
	}
}

.home-wrapper {
	margin-top: 20px;
	padding: 0 24px 100px;
}

.nav-pills .nav-link {
	font-size: 20px !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background: #151515 !important;
	color: #fff !important;
	border: 1px solid rgba(255,255,255,0.5) !important;
	    border-right-color: rgba(255, 255, 255, 0.5) !important;
	    border-right-style: solid !important;
	    border-right-width: 1px !important;
	min-width: 150px;
	border-right: none !important;
	position: relative !important;
	z-index: 1 !important;
	@media screen and (max-width: 957px) {
		border: none !important;
	}
}

.nav-link {
	color: rgba(255,255,255,.5) !important;
	margin-bottom: 10px;
	&:hover {
		background-color: transparent !important;
		color: #fff !important;
		text-decoration: none !important;
	}
}

.no-nfts {
	width: 100%;
	text-align: center;
	span {
		display: block;
		font-size: 20px;
		margin: 30px auto;
	}
}

.unlocked {
	text-align: center;
	display: block;
	font-size: 20px;
	margin: 30px auto;
}

.details-modal {
	.modal-content {
		padding: 0 24px;
		background-color: #151515;
		color: #fff;
		.modal-header {
			border-bottom: none;
		}
		.modal-body {
			display: flex;
			justify-content: center;
			@media (max-width: 767px) {
				flex-direction: column;
			}
		}
		.modal-footer {
			padding-bottom: 24px;
			border-top: none;
			
		}
	}
	.nft-number {
		span {
			display: inline-block;
			text-transform: uppercase;
			font-size: 20px;
			color: rgba(255,255,255, 0.25);
		}
		font-size: 40px;
	}
	.nft-img {
		width: 50%;
		margin-right: 20px;
		@media (max-width: 767px) {
			width: 100%;
		}
		.btn {
			margin: 20px 0;
			width: 100%;
		}
	}
	.nft-traits {
		flex: 1;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		
		.trait-details {
			margin: 10px;
			padding: 10px;
			border: 1px solid rgba(255,255,255, 0.25);
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			align-content: center;
			min-width: 180px;
			@media (max-width: 767px) {
				min-width: 150px;
				width: 46%; 
				margin: 5px;
			}
			.trait-name{
				text-transform: uppercase;
				color: $primary-color;
				font-size: 16px;
				@media (max-width: 767px) {
					font-size: 14px;
				}
			}
			.trait-value{
				color: #fff;
				font-size: 22px;
			}
			.trait-rarity{
				color: rgba(255,255,255, 0.25);
				font-size: 12px;
			}
		}
	}
	.closeBtn {
		font-size: 24px;
		cursor: pointer;
		&:hover {
			opacity: 0.6;
		}
	}
}

.dark-modal {
	.modal-content {
		padding: 0 24px;
		background-color: #151515;
		color: #fff;
		.modal-header {
			border-bottom: none;
		}
		.modal-body {
			min-height: 200px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 18px;
		}
		.modal-footer {
			padding-bottom: 24px;
			border-top: none;
			
		}
	}
	.closeBtn {
		font-size: 24px;
		cursor: pointer;
		&:hover {
			opacity: 0.6;
		}
	}
	.modal-dialog {
		max-width: 600px !important;
	}
}

.modal-lg, .modal-xl {
    max-width: 1000px !important;
}

.filter-panel {
	background: #151515;
    color: #fff;
	.slide-pane__header {
		display: none;
	}
	.filter-panel-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px;
		.close-panel {
			svg {
				font-size: 32px;
			}
		}
	}
	.slide-pane__content {
		padding: 0;
	}
	.filter-panel-option {
		border-radius: 0 !important;
		&.card {
			margin: 0;
			padding: 0;
			min-height: auto;
			background: #151515 !important;
			.card-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 24px;
				font-size: 18px;
				border-bottom-color: rgba(255, 255, 255, 0.25);
			}
			.card-body {
				padding-left: 48px;
				padding-right: 48px;
				color: #fff;
				.btn {
					margin: 10px;
				}
			}

			.dropdown {
				button {
					color: #fff;
				}
				
			}
		}
	}
}

.nfts-selected-wrapper {
	left: 0;
	background: #262626;
	padding: 20px;
	width: 100%;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 20000;
	.selected-nfts {
		display: flex;
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
		.nft {
			margin: 10px;
		}
	}
	.selected-actions {
		.btn {
			margin: 0 10px;
			font-size: 20px;
			line-height: 36px !important;
			border-radius: 5px !important;
			@media (max-width: 767px) {
				margin-bottom: 20px;
			}
		}
		.btn-outline-light {
			color: #fff;
			font-size: 20px;
			line-height: 36px !important;
			padding-top: 10px;
			border-color: #fff;
			img {
				position: relative;
				top: -5px;
			}
			&:hover {
				color: #fff !important;
			}
		}
	}
}

.transaction {
    left: 0;
    background: #262626;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outter-tab-content {
	margin-top: 50px;
	border: 1px solid  rgba(255,255,255,.5);
	border-radius: 10px;
	height: calc(100vh - 20px);
	max-height: 100vh;
	overflow-y: scroll;
	position: relative;
	@media screen and (min-width: 957px) {
		margin-top: -100px;
	}
	.inner-tabs {
		position: relative;
		left: 0;
		top: 0;
		background: #151515;
		z-index: 1;
		justify-content: center;
		border: none !important;
		/*margin-bottom: 25px !important;*/
		&.portfolio {
			@media (max-width: 767px) {
				padding-top: 50px;
			}
		}
		.nav-link {
			font-size: 20px;
			display: inline-block;
			padding: 12px;
			margin-right: 10px;
			text-decoration: none;
			color: rgba(255,255,255,.5) !important;
			border: none !important;
			border-bottom: 2px solid transparent !important;
			&.active {
				background-color: #151515 !important;
				color: #fff !important;
				text-decoration: none !important;
				border-bottom: 2px solid  #fff !important;
			}
			&:hover {
				background-color: #151515 !important;
				color: #fff !important;
				text-decoration: none !important;
				border-bottom: 2px solid  #fff !important;
			}
		}
	}
	.inner-nav {
		position: relative;
		left: 0;
		top: 0;
		background: #151515;
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		align-content: center;
		flex: 1;
		.nav-item {
			display: inline-block;
			a {
				font-size: 20px;
				display: inline-block;
				padding: 12px;
				margin-right: 10px;
				text-decoration: none;
				color: rgba(255,255,255,.5) !important;
				border-bottom: 2px solid transparent;
				&:hover {
					text-decoration: none !important;
					color: #fff !important;
					border-bottom: 2px solid  #fff;
				}
			}
			&.active {
				a {
					color: #fff !important;
					text-decoration: none !important;
					border-bottom: 2px solid  #fff;
				}
			}
		}
	}

	.home-video {
		width: 100%;
		position: relative;
		video {
		  position: relative;
		  object-fit: cover;
		  width: 100%;
		  @media (min-width: 956px) {
			height: 100vh;
		  }
		}
		.connect-wrapper {
			margin: 0 auto;
			border-radius: 10px;
			text-align: center;
			width: 95%;
			padding: 25px;
			background: rgba(21, 21, 21, 0.9);
			position: relative;
			@media (min-width: 956px) {
				padding: 50px;
				width: 80%;
				top: -500px;
				bottom: -500px;
			}
			h1 {
				text-transform: uppercase;
				font-size: 3em;
				margin-bottom: 20px;
				@media (min-width: 956px) {
					font-size: 5em;
				}
			}
			h2 {
				font-family: 'Poppins', sans-serif;
				font-weight: 100;
				margin-bottom: 20px;
				font-size: 1.25em;
				@media (min-width: 956px) {
					font-size: 1.5em;
				}
			}
			.btn-xl {
				margin-top: 25px;
			}
			.connect-links {
				margin: 25px auto 0;
				.btn-link {
					margin: 5px 10px;
					color: #fff;
					text-decoration: none;
					&:hover {
						color: rgba(255,255,255,0.5);
					}
				}
			}
		}
	}
	.inner-tab-content {
		background: #000;
		min-height: calc(100vh - 20px);
		padding: 24px;
		position: relative;
		z-index: 2; 
		&.home-content {
			max-height: 100vh;
			overflow: hidden;
		}
		&.launches {
			margin-top: 75px;
			.btn {
				min-width: 150px;
			}
			.drop-row {
				[class^="col"] {
					text-align: center;
					margin-bottom:10px; 
					@media (min-width: 956px) {
						text-align: left;
					}
				}
				
			}
		}
		.row {
			margin-bottom: 30px !important;
			.launch-date {
				font-size: 20px;
				text-align: center;
			}
			p {
				font-family: 'Poppins', sans-serif !important;
				font-weight: 100;
			}
		}
	}
}

.btn {
	font-family: 'Poppins', sans-serif !important;
}

.btn-xl {
	font-size: 22px !important;
	padding: 0.75rem 1.5rem !important;
	border-radius: 5px !important;
	@media (min-width: 956px) {
		padding: 0.75rem 3rem !important;
	}
}

.row {
	&.vertical-center {
		align-items: center;
	}
}

.side-nav {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	@media screen and (min-width: 957px) {
		height: calc(100vh - 170px);
	}
	.wallet-wrapper {
		.btn-outline-light {
			padding-top: 6px !important;
			padding-bottom: 6px !important;
			margin-bottom: 10px;
			@media screen and (max-width: 957px) {
				display: block;
				width: 100%;
				padding: 12px 24px !important;
			}
			
		}
		.btn-link {
			color: #fff;
			text-decoration: none;
			&:hover {
				color: rgba(255,255,255,0.5);
			}
		}
		.wallet-address {
			.btn-outline-light {
				text-align: center;
				width: 100%;
				img {
					display: block;
					margin: 2px auto;
					@media screen and (max-width: 957px) {
						display:inline-block;
						margin-right: 10px;
					}
				}
			}
		}
	}
}

.btn-outline-light {
	border-radius: 5px  !important;
	color: #fff !important;
	text-decoration: none !important;
	border-color: #fff !important;
	&:hover {
		color: rgba(255,255,255,0.5) !important;
		border-color:  rgba(255,255,255,0.5) !important;
	}
}

.overview-banner {
	text-align: center;
	border-bottom: 1px solid #fff;
	img {
		width: 100%;
		@media (min-width: 956px) {
			width: 70%;
		}
	}
	
}

.overview-header {
	text-align: center;
	padding: 25px;
	@media (min-width: 956px) {
		padding: 50px;
	}
	h1 {
		font-size: 3em;
		@media (min-width: 956px) {
			font-size: 4em;
		}
	}
	p {
		font-size: 20px;
		width: 95%;
		font-family: 'Poppins', sans-serif;
		font-weight: 100;
		margin: 0 auto;
		@media (min-width: 956px) {
			width: 80%;
			font-size: 22px;
		}
	}
	.btn {
		margin: 20px auto;
	}
}

.overview {
	.overview-feature {
		text-align: center;
		img {
			width: 80px !important;
			margin-bottom: 10px;
			@media (min-width: 956px) {
				width: 100px !important;
			}

		}
		p {
			text-align: center;
			font-size: 18px;
			width: 95%;
			font-family: 'Poppins', sans-serif;
			font-weight: 100;
			margin: 20px auto;
			@media (min-width: 956px) {
				width: 80%;
				font-size: 18px;
			}
		}
	}
	h2 {
		text-align: center;
		text-transform: uppercase;
	}
	
}

.token-banner {
	text-align: center;
}

.countdown-wrapper {
	display: flex;
	justify-content: center;
	align-content: center;
	.counter {
		background: rgba(21, 21, 21, 0.8);
		padding: 10px;
		border-radius: 5px;
		text-align: center;
		margin: 5px;
		@media (min-width: 956px) {
			min-width: 100px;
			padding: 24px;
			margin: 10px;
		}
		.number {
			font-size: 60px;
			line-height: 0.75;
			@media (min-width: 956px) {
				font-size: 100px;
			}
		}
		.label {
			text-transform: uppercase;
			font-size: 14px;
			margin-top: 30px;
			color: rgba(255,255,255,0.5);
		}
	}
}

.utility-item {
	display: flex;
	border: 1px solid rgba(255,255,255,0.5);
	width: 100%;
	margin: 20px auto;
	padding: 24px;
	border-radius: 5px;
	flex-direction: column-reverse;
	@media (min-width: 956px) {
		width: 80%;
		flex-direction: row;
	}
	.utility-icon {
		text-align: right;
		@media (min-width: 956px) {
			text-align: left;
		}
		img {
			opacity: 30%;
		}
	}
	h4 {
		text-transform: uppercase;
		font-size: 32px;
	}
	p {
		width: 95%;
		font-weight: 100;
	}
}

.token-count {
	position: absolute !important;
	top: 8px;
	right: 60px;
	z-index: 1000;
	text-align: right;
	font-size: 18px;
	@media (max-width: 767px) {
		right: 20px;
		top: 12px;
	}
	span {
		right: 20px;
	}

}

.inner-dropdown {
	position: absolute !important;
	top: 8px;
	left: 48px;
	z-index: 1000;
	@media (max-width: 767px) {
		left: 20px;
	}
	.btn-light {
		font-size: 20px;
		color: #fff !important;
		font-family:  'Playfair Display', serif !important;
		&:focus {
			outline: none !important;
			box-shadow: none !important;
		}
	}
	.dropdown-menu {
		background: #151515 !important;

		.dropdown-item {
			color: #fff !important;
			border-bottom: 1px solid rgba(255,255,255,0.2);
			&:last-child{
				border-bottom: none;
			}
			&:hover {
				background-color: #151515;
				color: $primary-color !important;
				text-decoration: none !important;
			}
		}
	}
}


.stats {
	display: flex;
	justify-content: space-between;
	padding: 24px;
	flex-direction: column;

	@media (min-width: 956px) {
		flex-direction: row;
		padding: 24px 50px;
	}
	.stat {
		background: rgba(25,25,25,0.8);
		border-radius: 5px;
		padding: 24px;
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
		@media (min-width: 956px) {
			width: 49%;
		}
		.stat-number {
			font-size: 100px;
			line-height: 0.5;
		}
		.stat-label {
			color: rgba(255,255,255,0.5);
			text-transform: uppercase;
			font-size: 14px;
			margin-top: 30px;
		}
	}
}

.collection-wrapper {
	background: #151515;
	padding: 24px 48px;
	.back-btn {
		cursor: pointer;
		font-size: 20px;
	}
	.collection-header {
		display: flex;
		justify-content: space-between;
		padding: 24px 24px 0;
		.logo {
			img {
				width: 100px;
			}
		}
		.social-links {
			a {
				font-size: 32px !important;
				color: #fff !important;
				&:hover {
					color: $primary-pyramyd !important;
				}
				
			}
		}
	}
	.collection-overview {
		padding: 12px 60px;
	}
	.collection-summary {
		padding: 12px 48px;
		h1 {
			font-size: 110px;
			line-height: 1;
			margin-bottom: 20px;
		}
		h2{
			font-size: 70px;
			margin: 20px 0;
		}
		h3 {
			font-size: 40px;
			color: $primary-pyramyd;
			margin: 20px 0; 
		}
		p {
			font-family: 'Poppins', sans-serif;
			font-weight: 100;
			font-size: 18px;
			padding-right: 20px;
		}
		ul {
			font-family: 'Poppins', sans-serif;
			font-weight: 100;
			font-size: 16px;
			margin-bottom: 30px;
		}
	}
	.small-gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		img {
			width: 22%;
			margin: 5px;

		}
	}
	.pyramyd_bg {
		margin: 24px;
		padding: 100px 50px;
		background-image: url(/pyramyd/pyramyd_bg_light.png);
		background-position: center;
		background-size: 40%;
		background-repeat: repeat;
	}
	.main-gallery {
		padding: 50px 0;
	}
}

.launchpad-header {
	text-align: center;
	padding: 25px 0;
	@media (min-width: 956px) {
		padding: 75px 50px;
	}
	h1 {
		font-size: 50px;
	}
	.divider {
		width: 200px;
		height: 2px;
		background: $primary-color;
		margin: 25px auto;
	}
	p {
		font-family: 'Poppins', sans-serif;
		font-size: 18px;
		width: 95%;
		margin: 20px auto;
		@media (min-width: 956px) {
			width: 80%;
		}
	}
}

.launchpad-service {
	text-align: center;
	margin-bottom: 30px;
	svg {
		font-size: 65px;
		color: $primary-color;
		margin-bottom: 20px;
	}
	h3 {
		font-size: 32px;
		margin-bottom: 20px;
	}
	p {
		font-family: 'Poppins', sans-serif;
		font-size: 18px;
		width: 90%;
		margin: 20px auto;
	}
}

.samot_bg {
	margin: 0;
	padding: 25px;
	background-image: url(/samot_bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	@media (min-width: 956px) {
		padding: 100px 50px;
		margin: 24px;
	}
	.apply-now {
		background: rgba(0,0,0,0.8);
		width: 95%;
		border-radius: 5px;
		margin: 0 auto;
		padding: 48px;
		text-align: center;
		@media (min-width: 956px) {
			width: 80%;
			text-align: left;
		}
		h1 {
			font-size: 45px;
			margin-bottom: 30px;
			@media (min-width: 956px) {
				font-size: 50px;
			}
		}
		p {
			font-family: 'Poppins', sans-serif;
			font-size: 18px;
			width: 95%;
			margin: 20px 0 30px;
			font-weight: 100;
		}
	}
}

.hidden-mobile {
	display: none;
	@media screen and (min-width: 957px) {
		display: flex;
	}
}
.hidden-desktop {
	@media screen and (min-width: 958px) {
		display: none;
	}
}


.mobile-menu-btn {
	position: absolute;
	right: 48px;
	top: 32px;
	font-size: 32px;
	cursor: pointer;
	&:hover {
		color: $primary-color;
	}
}

.mobile-menu {
	display: none;
	@media screen and (min-width: 957px) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: calc(100vh - 170px);
	}
	&.show-menu {
		display: block;
		text-align: center;
	}
}

@import '~bootstrap/scss/bootstrap.scss';

