@import 'colors';

@import 'layout';

@import 'fonts';

.button {
  font-weight: bold;

  padding: 10px 20px;

  transition: all 0.25s ease;

  color: $white;
  border-radius: 12px;

  &.disabled {
    background: $gray-default;
  }
}

.primary-button {
  @extend .button;

  background: $green-main;

  &:hover {
    background: $fun-green;
  }
}

.primary-button-inverted {
  @extend .button;

  color: $green-main;
  border: 2px solid $green-main;

  &:hover {
    background: rgba($green-secondary, 0.5);
  };
}

.secondary-button {
  @extend .button;

  background: $valencia;
}

.tertiary-button {
  @extend .button;

  color: $menta-black;
  background: $bubblegum-silk;

  &:hover {
    background: $tickle-me-pink;
  }
}

.underline-button {
  @extend .m-bottom-3;

  text-decoration: underline;

  color: $santas-gray;
}

.underline-green-button {
  @extend .underline-button;

  color: $green-main;
}

.transparent-button {
  @extend .button;

  color: $santas-gray;
  border: 1px solid $santas-gray;
  background: none;
}

.small-button {
  @extend .center-child;

  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 12px;

  height: 25px;
  padding: 10px 14px;

  text-align: center;

  color: $black;
  background: $light-gray;

  .selected {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;

    color: $white;
    background: $green-main;
  }
}

.tag {
  @extend .text,
  .text-uppercase,
  .center-child,
  .m-bottom-2,
  .m-right-2,
  .row,
  .middle,
  .center;

  overflow: hidden;

  height: 36px;
  padding: 10px 15px;

  white-space: nowrap;
  text-overflow: ellipsis;

  border-radius: 18px;
  background: $green-secondary;
}

.link {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;

  &:hover {
    text-decoration: underline;
  }
}

.clickeable-text {
  @extend .large-text;

  cursor: pointer;

  color: $green-main;
}

.clickeable-text-light {
  @extend .clickeable-text;

  font-weight: 300;
}

.text-button {
  @extend .subtitle-no-weight;

  overflow: hidden;

  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    text-decoration: underline;
  }
}

.text-button-primary {
  @extend .text-button,
  .bold;

  color: $green-main;
}

.text-button-secondary {
  @extend .text-button,
  .light;

  color: $menta-black;
}
