$green: #7CC7A8;
$red: #DB1709;
$samot-yellow: #F7C117;
$samot-blue: #007CC6;
// TODO: remove old colors
$green-main: #00BE85;
$green-secondary: #B3ECDB;
$light-green: #D9F5ED;
$transparent: transparent;
$white: #FFF;
$black: #000;
$grey: #F8F9FA;
$background: #F4F5F7;
$grey-border: #EEE;
$grey-unselected: #FAFAFA;
$gray-contrast: #B8B8B8;
$silver: #CBCBCB;
$darker-silver: #C4C4C4;
$athens-gray: #EEEFF4;
$orange-border: #FFE1B5;
$orange-darker: #FFBD5C;
$orange-light: #FFF5E7;
$red-border: #FFCAD0;
$red-light: #FFF0F1;
$red: #F44336;
$tickle-me-pink: #FF7B9B;
$violet: #C9B7FF;
$light-gray: #F4F5F7;
$half-opacity-light-gray: #F4F5F780;
$black-tooltip: #222;
$blue: #06F;
$azure: #35599F;
$valencia: #D34836;
$gray-default: #808080;
$whisper: #EEE;
$navbar-color: #F9F9F9;
$mine-shaft: #21212180;
$dove-gray: #C2D1E2;
$santas-gray: #969BAB;
$santas-gray-light: #CACDD5;
$mischka: #D9DBE1;
$mischka-50: #D9DBE150;
$mercury: #E5E5E5;
$evening-sky: #474A57;
$bubblegum-silk: #FFC2CA;
$fun-green: #006245;
$menta-black: #18191F;
$brand-primary: var(--brand-primary);
$torch-red: #FF003E;
$athens-gray: #EAEBEE;
$whisper: #FAFAFC;
$blue: #0024FF;
