/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~bootstrap/scss/bootstrap";

html,
body,
#root,
.bg,
canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* body {
  background-color: black;
  background-size: cover;
  color: white;
} */

.background-red {
  background-color: #880808 !important;
}

.bold {
  display: inline-block;
  font-family: "Oskari-G2", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
}

.bold-h1 {
  font-size: 3rem !important;
  font-weight: 800;
}

.border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.button-container {
  display: none;
  z-index: 10;
}

.button-container_inner {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.button-connect {
  background-color: black;
  border-color: white;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 2px;
  padding: 0.5rem 1.5rem;
  margin: 0.5 rem;
  font-weight: bold;
  color: white;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.button-connect:hover {
  background-color: #880808;
}

.button-disconnect {
  background-color: #880808;
  border-color: white;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 2px;
  padding: 0.5rem 1.5rem;
  margin: 0.5 rem;
  font-weight: bold;
  color: white;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.button-disconnect:hover {
  background-color: black;
}

.button-dropdown {
  display: block;
  width: 2rem;
  height: 2rem;
}

.button-mint {
  background-color: black;
  border-color: white;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 2px;
  padding: 0.5rem 1.5rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  max-width: 340px;
}

.centered-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}

.connect-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.description-container {
  display: flex;
  width: 80%;
  height: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.disclaimer {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

.disclaimer-container {
  width: 80%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 0px;
}

.divider,
.time {
  font-family: "TAN-PEARL", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.divider {
  padding: 0 0.5rem;
}

.dropdown-button_container {
  display: flex;
  justify-content: center;
}

.dropdown-container {
  width: 100%;
  position: absolute;
  z-index: 10;
  padding: 1rem 1rem 1.5rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: black;
}

.footer-logo {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0.5rem;
}

.footer-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  flex-wrap: wrap;
}

.helvetica {
  font-family: 'Helvetica', sans-serif !important;
}

h1 {
  z-index: 2;
  color: #fff;
}

.item:before {
  content: "\2022";
  margin-right: 6px;
}

.join-discord {
  min-width: 300px;
  text-align: center;
}

.line-height-85 {
  line-height: 85%;
}

.letter-spacing {
  letter-spacing: 5px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  /* overflow: hidden; */
}

.minting-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.modal-content {
  background-color: #000 !important;
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
}

.modal-header {
  border-bottom: none !important;

  .btn-close {
    filter: invert(100%) sepia(0%) saturate(7450%) hue-rotate(83deg) brightness(109%) contrast(98%) !important;
  }
}

.my-crossmint-button::part(button) { 
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
}

.my-crossmint-button::part(contentParagraph) { 
  color: white;
  font-size: 1.25rem; 
}

.navbar-logo {
  height: 2.5rem;
  margin: 0rem 0.5rem;
  object-fit: scale-down;
  width: 6rem;
}

.nft-card-image {
  width: 100%;
  height: auto;
}

.no-hover:hover {
  color: inherit;
}

.oskari-g2 {
  font-family: "Oskari-G2", sans-serif !important;
}

p {
  margin-bottom: 10px;
  font-size: 1rem;
  color: white;
}

.poppins {
    font-family: "Poppins", sans-serif !important;
}

.ripcoin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.ripgang-navbar {
  background-color: black;
  width: 100%;
  margin-bottom: 1rem;
}

.ripgang-navbar_logos {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 25%;
}

.ripgang-navbar_outer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
}

.rotate {
  max-width: 500px;
  width: 100%;
  height: auto;
  animation: rotation 90s infinite linear;
}

.text-small {
  font-size: 0.875rem !important;
}

.text-xs {
  font-size: 0.75rem !important;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.label {
  font-family: "TAN-PEARL", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.list-style-disc {
  list-style: disc !important;
}

.videoTag {
  width: 100%;
  max-width: 340px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-359deg);
  }
}

.top-banner {
  max-width: 100%;
  height: auto;
  object-fit: contain
}

.top-banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: auto;
  margin-top: 2rem;
}

.xl-title {
  font-size: 5rem;
}

.lg-title {
  font-size: 2.5rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .navbar-logo {
    object-fit: scale-down;
    height: 4rem;
    width: 10rem;
  }

  .top-banner-container {
    width: 45%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .button-container {
    display: block;
  }

  .dropdown-button_container {
    display: none;
  }

  .md-hidden {
    display: none;
  }

  .centered-container {
    width: 45%;
  }

  .ripcoin-container {
    width: 45%;
  }

  .lg-title {
    font-size: 4rem;
  }

  .videoTag {
    max-width: 100%;
  }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .description {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
  }

  .description-container {
    width: 70%;
  }


  .disclaimer {
    font-size: 0.75rem;
  }

  .rotate {
    margin-top: 0px;
  }

  .label {
    display: none;
  }

  .countdown-container {
    border: 0px;
    margin-top: -280px;
    margin-bottom: 250px;
  }

  .top-banner-container {
    width: 30%;
  }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .top-banner-container {
    margin-top: 3rem;
    width: 20%;
  }


}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .rotate {
    max-width: 800px;
  }

  .time {
    font-size: 1.75rem;
  }

  .label {
    font-size: 1.75rem;
  }

  .countdown-container {
    margin-top: -450px;
    margin-bottom: 400px;
  }

  .description-container {
    width: 60%;
  }

  .divider {
    padding: 0 0.5rem;
  }

  .timer-inner-mint {
    margin: 15px 0px -50px;
    color: white;
    display: flex;
  }

  .videoTag {
    min-width: 300px;
  }

  .nft-card-image {
    min-width: 300px;
  }
}