$sidebar-zindex: 10;
$navbar-zindex: 5;
$modal-z-index: 30;
$add-session-button-zindex: 9;
$tooltip-z-index: $modal-z-index + 3;
$menu-items-container-zindex: 20;
$session-sidebar-zindex: 10;
$tooltip-zindex: 100;
