@import '../../scss/imports';

.text {
  font-size: 40px;

  color: $white;
}

.center {
  @extend .center-child;

  z-index: 101;

  width: 100vw;
  height: 100vh;
}

.connect {
  @extend .text-uppercase;

  font-size: 16px;
  font-weight: bold;

  height: 40px;
  margin-top: 50px;
  padding: 0 20px;

  cursor: pointer;
  transition: all 1s ease-in-out;
  letter-spacing: 1px;

  border: 1px solid #FFF;
  background: linear-gradient(92.35deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.6) 117.7%);

  &:hover {
    transition: all 1s ease-in-out;

    background: linear-gradient(92.35deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.1) 117.7%);
  }
}
