@import '../../scss/imports';

.center {
  @extend .center-child;

  z-index: 1;

  width: 100vw;
  height: 100vh;

  background-image: url('../../public/assets/home/home-bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
}

.nft {
  @extend .center-child;

  z-index: 0;

  width: 100%;
  height: 100%;

  background-image: url('../../public/assets/home/x-ray-yellow.png');
  background-repeat: no-repeat;
  background-position: 85% bottom;
  background-size: auto 120%;

  &.owner {
    background-image: url('../../public/assets/home/x-ray-black.png');
  }
}

.content {
  @extend .center-child;

  margin-right: 40%;

  background: none;
}

