@import '../../scss/imports.scss';

.container {
  @extend .column,
  .space-between;

  position: fixed;
  top: 0;
  left: 0;

  align-items: space-between;

  width: 100vw;
  height: 100vh;
  padding: 30px;

  pointer-events: none;
}

.row-navbar {
  @extend .row,
  .space-between;

  pointer-events: all;
}

.logo {
  height: 25px;
}
