@import '../../scss/imports.scss';

.container {
  @extend .column,
  .space-between;

  position: fixed;
  top: 0;
  left: 0;

  align-items: space-between;

  width: 100vw;
  padding: 40px 60px 0;
}

.row-navbar {
  @extend .row,
  .space-between,
  .middle;

  pointer-events: all;
}

.left-container {
  @extend .row,
  .start,
  .middle;

  pointer-events: all;
}

.logo {
  height: 30px;
  margin-right: 50px;

  cursor: pointer;

  filter: drop-shadow(0px -1px 5px rgba(0, 0, 0, 0.2)) drop-shadow(0px 4px 11px rgba(0, 0, 0, 1)) drop-shadow(0px 0px 21px #000);

  &.hide {
    display: none;

@include lg {
      display: block;
    }
  }
}

.only-desktop {
  @extend .row,
  .start,
  .middle;

@include lg {
    display: none;
  }

  & > * {
    margin-right: 50px;
  }
}

.link-icon {
  height: 11px;
}

.menu-icon {
  display: none;

  height: 20px;

@include lg {
    display: block;
  }

filter: drop-shadow(0px -1px 5px rgba(0, 0, 0, 0.2)) drop-shadow(0px 4px 11px rgba(0, 0, 0, 1)) drop-shadow(0px 0px 21px #000);
}
