@import '../../../../scss/imports.scss';

.menu-container {
  @extend .row,
  .start,
  .middle;

  margin-top: 6px;

  cursor: pointer;
}

.menu-text {
  @extend .text-uppercase;

  font-size: 15px;
  font-weight: 500;

  margin-right: 7px;
}

.menu-icon {
  height: 8px;
}
