@import '../../../../scss/imports.scss';

.menu-container {
  @extend .row,
  .start,
  .middle;

  cursor: pointer;
  transition: all 0.3s ease;

  & > * {
    &:hover {
      color: $samot-yellow;
    }
  }

  &.owner > * {
    &:hover {
      color: $samot-blue;
    }
  }
}

.menu-text {
  @extend .text-uppercase;

  font-size: 15px;
  font-weight: 500;

  margin-right: 7px;

  transition: all 0.3s ease;
}

.menu-icon {
  height: 8px;
}
