@import '../../scss/imports';

.container {
  @extend .column,
  .start,
  .middle;

  width: 30%;
  margin-right: 3%;
  margin-bottom: 60px;

  cursor: pointer;

  &.selected,
  &:hover {
    & > * > .checkbox {
      opacity: 1;
    }
  }
}

.asset {
  width: 100%;
}

.text {
  font-size: 20px;
  line-height: 45px;

  color: $white;
}

.checkbox-selector {
  @extend .column,
  .end,
  .middle;

  position: relative;
  z-index: 120;

  width: 100%;
  height: 0;
}

.checkbox {
  position: absolute;

  width: 40px;
  height: 40px;
  margin-top: 50px;
  margin-right: 5px;

  transition: all 0.1s ease-in-out;

  opacity: 0;
  background-image: url('../../public/assets/dashboard/checkbox.png');
  background-size: cover;
}

.check {
  position: absolute;

  height: 30px;
  margin-top: -4px;
  margin-left: 8px;

  animation: check 200ms ease;
}

@keyframes check {
  0% {
    transform: translateX(-20%);

    opacity: 0;
  }

  100% {
    transform: translateX(0);

    opacity: 1;
  }
}
